<!doctype html>
<html lang="en">
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="nav-links">
      <a href="advanced.html">Advanced Search</a>
      <a href="image.html">Image Search</a>
    </div>
    <div class="search-container">
      <form action="https://www.google.com/search">
        <label for="search-bar" class="visually-hidden">Search:</label>
        <input type="text" id="search-bar" name="q" />
        <input type="submit" value="Google Search" />
      </form>
    </div>
  </body>
</html>
