/* General styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

/* Search container to control centering */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensures that both input and button are centered */
  width: 100%; /* Ensure it takes up full width */
}

/* Centering the form and setting its width */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

/* Style for the input (search bar) */
input[type="text"] {
  width: 100%;
  max-width: 600px; /* Width of the search bar */
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.3s ease;
  margin-bottom: 15px;
  text-align: center;

  /* Use auto margins for centering */
  margin-left: auto;
  margin-right: auto;
}

/* Focus effect for the input */
input[type="text"]:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Style for the submit button */
input[type="submit"] {
  width: 200px; /* Width of the button */
  padding: 12px;
  font-size: 16px;
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  /* Use auto margins to center the button */
  margin-left: auto;
  margin-right: auto;

  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  text-align: center;
}

/* Hover and active states for the submit button */
input[type="submit"]:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:active {
  background-color: #d4d4d4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation links in the top-right corner */
.nav-links {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: normal;
  color: #333;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
